@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

@theme {
  /* Custom Colors */
  --color-new-orange-200: oklch(0.8916 0.1569 92.99);
  --color-new-orange-500: oklch(0.8698 0.1717 90.55);
  --color-new-blue-200: oklch(0.6427 0.1786 262.86);
  --color-new-blue-200-op5: oklch(0.6427 0.1786 262.86 / 0.2);
  --color-new-blue-500: oklch(0.5665 0.2222 262.3);
  --color-gray-350: #BDBDBD;
  

  /* Custom Font */
  --font-display: Montserrat, ui-sans-serif, system-ui, sans-serif;
  
  /* Optional: Override default sans */
  --font-sans: Montserrat, ui-sans-serif, system-ui, sans-serif;
}
